<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>부동산 거래 조회</title>
</head>
<body>
	<h1>부동산 거래 조회</h1>
    Welcome! {{user}}
<form method="post" action="/search">
    지역구 선택 : <select name="city">
         <option value="default" selected>---군/구---</option>

        {% for city in city_list %}
        <option value="{{city}}">{{city}}</option>
        {% endfor %}
    </select>
    <p>날짜 선택 : <input type="month" name="date" size="10"></p>
    <input type="submit">
</form>
</body>
</html>
